  <section class="content"  ng-controller="BusinessUnitController">
       
             <div class="row drops">
             
                <div class="col-md-12 mT20">
                
                      <div class=" table-responsive mT20">
             
				<table   class="table text-center table-bordered table-hover dataTable" id="example2" role="grid" aria-describedby="example2_info">
					<thead>
						<tr class="table_menu">
                          <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Profit: activate to sort column descending" >ID</th>
                      <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" >Code</th>
                      <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" >Name</th>
                      <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Status</th>
                      <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Options</th>
                      <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending"></th>
                         </tr>
					</thead>
					<tbody>
						 <tr role="row" class="odd">
                           <td class="sorting_1" >1</td>
                           <td class="sorting_1" >CHEM</td>
                           <td class="sorting_1" >CHEMICALS</td>
                           <td class="sorting_1" >Enable</td>
                           <td class="sorting_1" ><a href="#" class="btn btn-md btn-primary" title="Edit"> <i class="fa fa-edit"></i> </a> </td>
                           <td class="sorting_1" ><a href="#" class="btn btn-md btn-primary" title="Delet"> <i class="fa fa-times"></i> </a> </td>
                        </tr>
                        
                        <tr role="row" class="odd">
                           <td class="sorting_1" >2</td>
                           <td class="sorting_1" >MNRLS</td>
                           <td class="sorting_1" >METALS & MINERALS</td>
                           <td class="sorting_1" >Enable</td> 
                           <td class="sorting_1" ><a href="#" class="btn btn-md btn-primary" title="Edit"> <i class="fa fa-edit"></i> </a> </td>
                           <td class="sorting_1" ><a href="#" class="btn btn-md btn-primary" title="Delet"> <i class="fa fa-times"></i> </a> </td>
                       </tr>
                       
                        <tr role="row" class="odd">
                           <td class="sorting_1" >3</td>
                           <td class="sorting_1" >POLY</td>
                           <td class="sorting_1" >POLYMERS</td>
                           <td class="sorting_1" >Disable</td>
                           <td class="sorting_1" ><a href="#" class="btn btn-md btn-primary" title="Edit"> <i class="fa fa-edit"></i> </a> </td>
                           <td class="sorting_1" ><a href="#" class="btn btn-md btn-primary" title="Delet"> <i class="fa fa-times"></i> </a> </td>
                       </tr>
                       
                         <tr role="row" class="odd">
                           <td class="sorting_1" >3</td>
                           <td class="sorting_1" >POLY</td>
                           <td class="sorting_1" >POLYMERS</td>
                           <td class="sorting_1" >Disable</td>
                           <td class="sorting_1" ><a href="#" class="btn btn-md btn-primary" title="Edit"> <i class="fa fa-edit"></i> </a> </td>
                           <td class="sorting_1" ><a href="#" class="btn btn-md btn-primary" title="Delet"> <i class="fa fa-times"></i> </a> </td>
                       </tr>
                       
                         <tr role="row" class="odd">
                           <td class="sorting_1" >3</td>
                           <td class="sorting_1" >POLY</td>
                           <td class="sorting_1" >POLYMERS</td>
                           <td class="sorting_1" >Disable</td>
                           <td class="sorting_1" ><a href="#" class="btn btn-md btn-primary" title="Edit"> <i class="fa fa-edit"></i> </a> </td>
                           <td class="sorting_1" ><a href="#" class="btn btn-md btn-primary" title="Delet"> <i class="fa fa-times"></i> </a> </td>
                       </tr>
                       
                         <tr role="row" class="odd">
                           <td class="sorting_1" >3</td>
                           <td class="sorting_1" >POLY</td>
                           <td class="sorting_1" >POLYMERS</td>
                           <td class="sorting_1" >Disable</td>
                           <td class="sorting_1" ><a href="#" class="btn btn-md btn-primary" title="Edit"> <i class="fa fa-edit"></i> </a> </td>
                           <td class="sorting_1" ><a href="#" class="btn btn-md btn-primary" title="Delet"> <i class="fa fa-times"></i> </a> </td>
                       </tr>
                       
                         <tr role="row" class="odd">
                           <td class="sorting_1" >3</td>
                           <td class="sorting_1" >POLY</td>
                           <td class="sorting_1" >POLYMERS</td>
                           <td class="sorting_1" >Disable</td>
                           <td class="sorting_1" ><a href="#" class="btn btn-md btn-primary" title="Edit"> <i class="fa fa-edit"></i> </a> </td>
                           <td class="sorting_1" ><a href="#" class="btn btn-md btn-primary" title="Delet"> <i class="fa fa-times"></i> </a> </td>
                       </tr>
                        
                   </tbody>
				  </table>
			     </div>
                 
               </div>
               
            
             <div class="col-md-12 mT20">
             
                 <div class="row">
            
				<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">  
			<a href="#" class="btn btn-md btn-primary mB10" > <i class="fa fa-plus"></i> </a> <span class="mL10  color-db"> 
            Add </span> </div>
            
            
                </div>
              </div>
              
               
          </div>
             
        </section>