.bigInput
{
	font-size:23px;
	font-family:"helvetica";
	border: 1px solid #9d9d9d;
	background-color:#f8f8f8;
	height:40px;
	width:300px;
	padding-left:6px;
}
.leftBar
{
	display:inline-block;
	float:left;
	margin-top:2%;
	margin-left:10%;
}
.rightBar
{
	display:inline-block;
	float:right;
	margin-top:2%;
	margin-right:10%;
}
.leftBar tr td
{
	font-size:23px;
	font-family:"helvetica";
}
.rightBar tr td
{
	font-size:23px;
	font-family:"helvetica";
}
.bigButton
{
	height:70px;
	width:300px;
	background-color:#00d27f;
	font-size:23px;
	color: #ffffff;
	border:1px solid #00d27f;
}