<!DOCTYPE html>
<html >
<head>
    <title>Timeline</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/app/js/angular.min.js"></script>
    <script src="/app/js/script.js"></script>
    <script src="/app/libs/jquery.js"></script>
    <script src="/app/libs/jquery-ui.js"></script>
    <link rel="stylesheet" href="/app/css/styles.css">
     <link rel="stylesheet" href="/app/libs/jquery-ui.css">
</head>
<body style="font-family:helvetica;background-image:url('/app/images/background.jpg')">
<div align="center">
<!-- <img src='/app/images/forward.png' class='forward'>
<img src='/app/images/backward.png' class='backward'> -->
<div id="main">
</div>
<div id='timelineBar'  align="center">
<div class="timelineSegment" id='sf' title='' onclick="loadContent('sf');">
Summer Fall 2014
</div>
<div class="timelineSegment">
Winter Fall 2014
</div>
<div class="timelineSegment">
SummerFall 2015
</div>
<div class="timelineSegment">
Winter Fall 2015
</div>
<div class="timelineSegment">
Summer Fall 2016
</div>
</div>
</div>
  <script>
  $(function() {
    $( document ).tooltip();
    $('#sf').tooltip({content : '<img src="/app/images/background.jpg">'});
  });
  </script>
</body>
</html>