<!DOCTYPE html>
<html class="ViHtml" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="voss" xmlns:th="http://www.thymeleaf.org">
<head>
<title>User Registration</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="app/libs/voss-thirdparty.min.js"></script>
<script src="/app/libs/jquery.js"></script>
<script src="/app/libs/jquery-ui.js"></script>
<script src="/app/js/app.js"></script>
<script src="/app/js/controller.js"></script>
<link rel="stylesheet" href="/app/css/styles.css">
<link rel="stylesheet" href="/app/libs/jquery-ui.css">
</head>
<body>
<div ng-controller="UserRegController" align="center">
<table class="leftBar">
<tr>
<td>User Name</td>
<td><input type="text" ng-model="userName" class="bigInput"></td>
</tr>
<tr>
<td>Password</td>
<td><input type="password" ng-model="password" class="bigInput"></td>
</tr>
<tr>
<td>Name</td>
<td><input type="text" ng-model="name" class="bigInput"></td>
</tr>
</table>
<table class="rightBar">
<tr>
<td>Designation</td>
<td><!-- <input type="text" ng-model="designation" class="bigInput"> -->
<select ng-model="designation"  class="bigInput">
<option ng-repeat="data in des" value="{{ data.designation }}">{{ data.designation }}</option>
</select>
</td>
</tr>
<tr>
<td>Reporting Manager</td>
<td><!-- <input type="text" ng-model="reportingManager" class="bigInput"> -->
<select ng-model="reportingManager"  class="bigInput">
<option ng-repeat="data in userData" value="{{ data.userId }}">{{ data.name }}</option>
</select>
</td>
</tr>
</table>
<br>
<input type="button" ng-click="addUsers();" value="Create User" style="clear:both;margin-top:10%;" class="bigButton">
</div>
</body>
</html>